.App-logo{
    width: 10%;
    height: 10%;
}
.App-header{
    text-align: center;
}
#user-button a{
    text-align: center;
}
#user-button{
    width: auto;
    padding: 8px;
    border-radius: 6px;
    margin-left: 45%;
}
#user-button:hover{
    background-color: blueviolet;
    
}